h1 {
    color: maroon
}

#first_paragraph {
    color: darkmagenta
}

#second_paragraph {
    color: salmon
}

#third_paragraph {
    color: chocolate
}

.class1 {
    color: black;
    text-decoration: underline;
}