a {
    text-decoration: none; 
}

a:link {
    color: hotpink;  
}

a:visited {
    color: red;  
}

a:hover {
    color: darkblue;
}

h1::first-letter {
    color: maroon;
    font-size: 50px;
}

li::first-letter {
    font-size: 25px;
    font-weight: bold;
}