$uchicago_maroon: #800000;
$uchicago_dark_grey: #767676;
$uchicago_light_grey: #D6D6CE;
$margin: 15px;

h1 {
    color: black;
}

h3 {
    color: $uchicago_dark_grey;
}

h2 {
    color: $uchicago_light_grey
}

p {
    color: black
}

a.link {
    color: white;
    text-decoration: none;
    margin-right: $margin;
    margin-left: 0;
}

a.link:hover{
    font-weight: bold;
    color: white
}

a.link:focus{
    font-weight: bold;
    color: white
}

.navbar{
    background-color: $uchicago_maroon
}

.col-sm {
    background-color: $uchicago_light_grey;
    margin: $margin;
}

.row {
    margin-right: $margin
}